<div class = "menu">
  <h3>主なスレッド</h3>
  <%= link_to "#" do%>
    ruby (88)
  <%end%>
  <%= link_to "#" do %>
    rails (10)
  <%end%>
</div>



<div class ="contents">
  <h3 class="thread_title"><span >ruby</span></h3>
  <div class = "titles">
    <div class = "namber">
      1
    </div>
    <div class= "name">
      名前:  seiya
    </div>
    <div class= "date">
    </div>
  </div>
  <div class= "content">
    <dd >バドミントン選手顔</dd>
  </div>

  <div class = "titles">

    <div class = "namber">
      1
    </div>
    <div class= "name">
      名前:  seiya
    </div>
    <div class= "date">
    </div>
  </div>
  <div class= "content">
    <dd >バドミントン選手顔</dd>
  </div>
</div>

<div class ="contents">
  <h3 class="thread_title"><span >rails</span></h3>
  <div class = "titles">
    <div class = "namber">
      1
    </div>
    <div class= "name">
      名前:  seiya
    </div>
    <div class= "date">
    </div>
  </div>
  <div class= "content">
    <dd >バドミントン選手顔</dd>
  </div>
  
  <div class = "titles">
    <div class = "namber">
      1
    </div>
    <div class= "name">
      名前:  seiya
    </div>
    <div class= "date">
    </div>
  </div>
  <div class= "content">
    <dd >バドミントン選手顔</dd>
  </div>
</div>

<%= link_to "#", class:"common"  do %>
  <span class="common" >書き込みページへ</span>
<% end %>

<%= link_to "#", class:"common"  do %>
  <span class="common" >スレッド作成ページへ</span>
<% end %>


